
<header class="header">

  <!-- Messages -->
  <div>
    {% if messages %}
      {% for message in messages %}
        <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <!-- End Messages -->

  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a href="/" class="navbar-brand">
        <strong>WANT2WORK</strong>
        <span class="sr-only">Home</span>
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars"></i>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if request.user.is_authenticated%}

            {% if request.user.role == 'employer' %}
              <li class="nav-item">
                <a href="{% url 'jobs:employer-dashboard' %}" class="nav-link">Dashboard</a>
              </li>

              <li class="nav-item">
                <a href="{% url 'accounts:employer-profile-update' %}"
                   class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                  {{ request.user.email }}
                </a>
              </li>
            {% endif %}

            {% if request.user.role == 'employee'%}
              <li class="nav-item">
                <a href="{% url 'accounts:employee-profile-update' %}"
                   class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                  {{ request.user.email }}
                </a>
              </li>
            {% endif %}

            <li class="nav-item">
              <a href="{% url 'accounts:logout' %}"
                 class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">Logout
              </a>
            </li>

          {% else %}
            <li class="nav-item">
              <a href="{% url 'accounts:register' %}"
                 class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                Register
              </a>
            </li>
            <li class="nav-item" style="color: #fff">
              <a href="{% url 'accounts:login' %}"
                 class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                <i class="fa fa-sign-in"></i> Login
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>