Django==2.2.13
django-appconf==1.0.3
django-bootstrap-modal-forms==1.4.4
django-searchable-select==1.5.0
django-select2==7.1.1
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
djangorestframework-simplejwt==4.3.0
isort==4.3.21
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.4
Pillow==6.2.0
PyJWT==1.7.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
