{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
  Job details
{% endblock %}

{% block content %}

  <section class="bg-light-gray">
    <div class="container">
      <h1 class="heading">{{ job.position }}<br>
        <small>at <a href="#"> {{ job.company_name }}</a></small>
      </h1>
      <div class="job-detail-description"><i class="fa fa-map-marker job__location"> </i>
        {{ job.location }} | Posted {{ job.entry_timestamp|timesince }}
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h3>Category: {{ job.category }}</h3>
          <h5>Last date to apply: {{ job.last_date|date }}</h5>
          <blockquote class="blockquote">
            <p>{{ job.description }}</p>
          </blockquote>
          <div class="job-detail__apply-bottom">
            <!-- Job application code here -->
{#            {% if request.user.is_authenticated and request.user.role == 'employee' %}#}
{#              {% if application != None %}#}
{#                <input type="button" class="btn btn-outline-white-primary" value="Already applied"/>#}
{#                <button type="button" class="update-application btn btn-sm btn-primary"#}
{#                      data-id="{% url 'jobs:update-application' application.pk %}">#}
{#                <span class="fa fa-pencil"></span>#}
{#                </button>#}
{#                <button type="button" class="withdraw-application btn btn-sm btn-danger"#}
{#                        data-id="{% url 'jobs:delete-application' application.pk %}">#}
{#                  <span class="fa fa-trash"></span>#}
{#                </button>#}
{#              {% else %}#}
{#                <input class="apply-job btn btn-primary"#}
{#                       type="button" name="button"#}
{#                       value="Apply for this job"/>#}
{#              {% endif %}#}
{#            {% endif %}#}
          </div>
        </div>
      </div>
    </div>
  </section>


  <script type="text/javascript">
      $(function() {
          // Apply for job
          $(".apply-job").modalForm({
              formURL: "{% url 'jobs:apply-job' %}"
          });

          // Update application
          $(".update-application").each(function () {
              $(this).modalForm({formURL: $(this).data('id')});
          });

          // Withdraw qualification
          $(".withdraw-application").each(function () {
              $(this).modalForm({formURL: $(this).data('id')});
          })
      });
  </script>

{% endblock %}
